<mat-toolbar>
    <span>UPDATE INFO</span>
  </mat-toolbar>
  
  <br>
  
  <mat-card-content style="margin-left: 10%">
    <span>
    <form (ngSubmit)="update()" class="my-form" ngNativeValidate  >
      <div>
      <mat-form-field class="full-width form-group">
        <br>
        <label>First Name</label>
        <input type="text"  matInput [(ngModel)]="updatedDetails.firstname" placeholder="First name" (change)="onChange()" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z])$"  class="data" name="fname" >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width form-group">
        <label>Last Name</label>
        <input  type="text" matInput [(ngModel)]="updatedDetails.lastname" placeholder="Last Name" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z])$" class="data" name="lname">
      </mat-form-field>
    </div>
  <div>
      <mat-form-field class="full-width">
        <label>Password</label>
        <input type="password" matInput [(ngModel)]="updatedDetails.password"  placeholder="Set Password" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z])$" name="password">
  </mat-form-field>
</div>
        <br>
        <br>
        <mat-card-actions  style="margin-left: 19%; margin-top: 10%">
      <button mat-raised-button type="submit" color="primary"  [disabled]="buttonStatus" >SAVE</button>
    </mat-card-actions>
    </form>
      </span>
  
  </mat-card-content>